<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <% todos.forEach(todo => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card border-dark">
                <div class="card-header bg-secondary">
                    <%= todo.title %>
                </div>
                <ul class="list-group list-group-flush" data-todo_id="<%= todo._id %>">
                    <% todo.tasks.forEach(task => { %>
                        <% if (!task.isDone) { %>
                            <li class="list-group-item" data-task_id="<%= task._id %>"><%= task.text %></li>
                        <% } else { %>
                            <li class="list-group-item done"><%= task.text %></li>
                        <% } %>
                        
                    <% }) %>
                </ul>

                <form class="listEntry" action="/todos/<%= todo._id %>/tasks" method="POST">
                    <input name="task[text]" class="textInput" type="text" placeholder="Add new list entry..."
                        required />
                </form>
            </div>
        </div>
        <% }) %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <form action="/todos" method="POST">
                    <div class="form-group">
                        <label for="name" class="sr-only">Title</label>
                        <input class="form-control" type="text" name="title" placeholder="Enter list title..."
                            required />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-block btn-success">
                            Add List
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/todos.js"></script>
<%- include('../partials/footer') %>